
<!-- Web.Config Configuration File -->

<configuration>
    <system.web>
        <customErrors mode="Off" />
    </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
    <appSettings>
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    </appSettings>    
</configuration> 
